---
import Navigator from "../components/Navigator.astro";

// import { profilePicture } from "./about.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="src/style.css" />
    <title>Astro</title>
  </head>
  <body>
    <Navigator />
    <h1>howhorse.hungry</h1>
    <p>The start of my glorious frontend empire, just trust me.</p>
  </body>
</html>
