---

---

<nav id="navigation">
  <div class="links internal">
    <div>
      <a href="/">Home</a>
    </div>
    <div>
      <a href="/about">About</a>
    </div>
    <div>
      <a href="/calculator">Calculator</a>
    </div>
    <div>
      <a href="/gaming">Gayming</a>
    </div>
  </div>
  <hr/>
  <div class="links external">
    External links:
    <div>
      <a href="https://kirkmcdonald.github.io/calc.html#data=2-0-55&mprod=20&buildings=assembling-machine-2,steel-furnace&belt=fast-transport-belt&items=advanced-circuit:f:1">Factorio: Kirk McDonald Calculator</a>
    </div>
    <div>
      <a href="https://github.com/OrderedSet86/gtnh-flow">GTNH Flowcharts</a>
    </div>
    <div>
      <a href=""></a>
    </div>
  </div>
</nav>
<hr>